@model List<Medinova.DTOs.AboutDtos.ResultAboutDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Hakkımızda Yönetimi</h2>
                </div>
            </div>
        </div>

        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Hakkımızda Listesi</h2>
                        </div>
                        <div class="float-right">
                            <a href="/Admin/About/CreateAbout" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Yeni Yazı Ekle</a>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Görsel</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th style="width: 200px;">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.AboutId</td>
                                                <td>
                                                    <img src="@item.ImageUrl" alt="About" style="width: 80px; height: auto; border-radius: 5px;" />
                                                </td>
                                                <td>@item.Title</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.Description) && item.Description.Length > 50)
                                                    {
                                                        @item.Description.Substring(0, 50) <text>...</text>
                                                    }
                                                    else
                                                    {
                                                        @item.Description
                                                    }
                                                </td>
                                                <td>
                                                    <a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-warning btn-sm text-white"><i class="fa fa-edit"></i> Güncelle</a>
                                                    <a href="/Admin/About/DeleteAbout/@item.AboutId" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="fa fa-trash"></i> Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">Kayıtlı veri bulunamadı.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

